/* Start Variable Color */
:root {
  --main-color: #19c8fa;
  --main-color-alt: rgb(15 116 143 / 70%);
  --main-transition: all 0.5s ease;
}

/* End Variable Color */

/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

section {
  padding: 100px 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 35px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 40px;
}

.main-title::before {
  content: "";
  width: 100%;
  position: absolute;
  height: 3px;
  background-color: #000;
  bottom: -15px;
}

.main-title::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 3px #000 solid;
  bottom: -15px;
  transform: translate(-50%, 50%);
  left: 50%;
  border-radius: 50%;
}

section>p {
  width: 550px;
  text-align: center;
  margin: auto;
  max-width: 100%;
  line-height: 1.5;
  color: #333;
}

/* End Global Rules */

/* Start Style Navbar */
nav {
  height: 0;
  z-index: 3;
  position: relative;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 10px;
  border-bottom: 1px #eee solid;
  padding: 15px;
}

nav .logo img {
  max-width: 100%;
}

nav .menu {
  display: flex;
  gap: 15px;
}

nav .menu ul {
  display: flex;
  list-style: none;
}

nav .menu ul li {
  display: block;
}

nav .menu ul li a {
  color: white;
  text-decoration: none;
  position: relative;
  display: block;
  padding: 0 10px;
}

nav .menu ul li a:hover {
  color: var(--main-color);
  transition: var(--main-transition);
}

nav .menu ul li a:hover::before {
  content: "";
  width: 100%;
  display: block;
  height: 1px;
  left: 0px;
  bottom: -27px;
  position: absolute;
  background-color: var(--main-color);
  transition: var(--main-transition);
}

nav .menu i {
  color: #fff;
}

nav .toggle-menu {
  display: none;
}

@media (max-width: 767px) {
  nav .menu ul {
    display: none;
    list-style: none;
  }

  nav .menu ul:hover {
    display: block;
    position: fixed;
    list-style: none;
    width: 100%;
    top: 41px;
    right: 0;
    padding: 29px 0;
  }

  nav .menu .toggle-menu:hover+ul {
    display: block;
    position: fixed;
    list-style: none;
    width: 100%;
    top: 41px;
    right: 0;
    padding: 29px 0;
  }

  nav .menu .toggle-menu:hover+ul li a,
  nav .menu ul:hover li a {
    padding: 17px 10px;
    background-color: rgb(0 0 0 / 50%);
  }

  nav .menu ul:hover li a:hover::before {
    bottom: 0;
  }

  nav .toggle-menu {
    display: block;
  }
}

nav .search {
  padding-left: 15px;
  border-left: 2px #ffffff solid;
}

/* End Style Navbar */

/* Start style landing */
.landing {
  background-image: url(../images/landing.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgb(0 0 0 / 50%);
  z-index: 1;
}

.landing .text {
  position: absolute;
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
  padding: 35px;
  background-color: var(--main-color-alt);
  color: white;
  z-index: 2;
  border-radius: 2px;
  padding-left: 50px;
}

@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
}

.landing .text h3 {
  font-size: 31px;
  margin-bottom: 15px;
  font-weight: 100;
  line-height: 42px;
}

.landing .text p {
  font-size: 13px;
  line-height: 22px;
}

.landing .buttons span {
  border: 4px #fff solid;
  position: absolute;
  z-index: 2;
}

.landing .buttons span:first-child {
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  transform: rotate(135deg);
  border-top: none;
  border-left: none;
  width: 15px;
  height: 15px;
}

.landing .buttons span:last-child {
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  transform: rotate(315deg);
  border-top: none;
  border-left: none;
  width: 15px;
  height: 15px;
}

.landing .bullets {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  gap: 10px;
  list-style: none;
}

.landing .bullets li {
  width: 15px;
  height: 15px;
  border: 2px #fff solid;
  border-radius: 50%;
}

.landing .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

/* End style landing */

/* Start services */
.services .content-services {
  margin-top: 50px;
  text-align: center;
  max-width: 100%;
}

@media (min-width: 1005px) {
  .services .content-services {
    display: grid;
    text-align: initial;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 40px;
  }

  .services .card {
    display: flex;
    gap: 20px;
  }
}

.services .card {
  margin-bottom: 25px;
}

.services .card .image i {
  font-size: 40px;
  color: var(--main-color);
  margin-bottom: 25px;
}

.services .card .content h4 {
  font-size: 20px;
  margin-bottom: 15px;
  font-weight: 700;
}

.services .card .content p {
  font-size: 17px;
  line-height: 1.5;
  color: #444;
}

/* End services */
/* Start Design */
.design {
  background-image: url(../images/design-features.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.design::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgb(0, 0, 0, 0.5);
}

.design .content {
  display: flex;
  z-index: 3;
  position: relative;
  justify-content: space-between;
}

.design .image {
  width: 50%;
  display: flex;
  justify-content: center;
}

.design .image img {
  position: relative;
  bottom: -160px;
}

.design .text {
  color: white;
  background-color: var(--main-color-alt);
  padding: 50px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 50%;
}

@media (max-width: 767px) {
  .design .content {
    display: block;
  }

  .design .image {
    display: none;
  }

  .design .text {
    width: 100%;
  }
}

.design .text h5 {
  font-size: 26px;
  margin: 30px 0 40px 0;
  text-transform: uppercase;
}

.design .text ul {
  list-style: none;
}

.design .text ul li {
  margin-bottom: 30px;
  font-size: 20px;
  position: relative;
}

.design .text ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f108";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}

/* End Design */

/* Start Portfolio */
.portfolio .shuffle {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  list-style: none;
  flex-wrap: wrap;
  gap: 2px;
}

.portfolio .shuffle li {
  cursor: pointer;
  display: block;
  padding: 15px 30px;
  text-align: center;
  transition: var(--main-transition);
}

.portfolio .shuffle li:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.portfolio .shuffle li:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.portfolio .shuffle li.active,
.portfolio .shuffle li:hover {
  background-color: var(--main-color);
  color: white;
}

.portfolio .imgs-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.portfolio .imgs-container .box {
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {
  .portfolio .imgs-container .box {
    flex-basis: 50%;
  }
}

@media (min-width: 1199px) {
  .portfolio .imgs-container .box {
    flex-basis: 25%;
  }
}

.portfolio .imgs-container .box img {
  max-width: 100%;
  height: 100%;
  transition: var(--main-transition);
}

.portfolio .imgs-container .box:hover img {
  transform: rotate(4deg) scale(1.2);
}

.portfolio .imgs-container .box .caption {
  background-color: white;
  position: absolute;
  padding: 20px;
  width: 100%;
  bottom: -100%;
  transition: var(--main-transition);
}

.portfolio .imgs-container .box:hover .caption {
  bottom: 0;
}

.portfolio .imgs-container .box .caption h4 {
  color: var(--main-color);
  margin-bottom: 10px;
  font-size: 20px;
}

.portfolio .imgs-container .box .caption p {
  font-size: 15px;
}

.portfolio .btn {
  padding: 20px 30px;
  text-decoration: none;
  background-color: var(--main-color);
  color: white;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-weight: 600;
  margin-top: 30px;
  font-size: 20px;
  transition: var(--main-transition);
}

.portfolio .btn:hover {
  background-color: var(--main-color-alt);
}

/* End Portfolio */
/* Start Video */
.video {
  position: relative;
}

.video::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
}

.video video {
  width: 100%;
  height: 100%;
}

.video .text {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--main-color-alt);
  padding: 50px;
  text-align: center;
  color: white;
}

.video .text h6 {
  font-size: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.video .text p {
  font-size: 25px;
  margin-bottom: 50px;
}

.video .text a {
  padding: 20px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000;
  transition: var(--main-transition);
}

.video .text a:hover {
  background-color: var(--main-color);
}

/* End Video */

/* Start About */
.about {
  padding-bottom: 0;
}

.about .container {
  overflow: hidden;
}

.about .container img {
  max-width: 100%;
  position: relative;
  bottom: -120px;
}

/* End About */
/* Start Stats */
.stats {
  text-align: center;
  background-image: url("../images/stats.png");
  background-size: cover;
  position: relative;
}

.stats::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}

.stats .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.stats .container .box {
  color: white;
  padding: 30px;
  background-color: var(--main-color-alt);
}

@media (max-width: 767px) {
  .stats .container .box {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .stats .container .box {
    flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .stats .container .box {
    flex-basis: 25%;
  }
}

.stats .container .box i {
  width: 40px;
  height: 40px;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto 30px;
}

.stats .container .box div {
  font-size: 45px;
  font-weight: bold;
  margin: 0 0 20px;
}

.stats .container .box p {
  font-size: 14px;
}

/* End Stats */

/* Start Skills */
.our-skills .container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.our-skills .skills,
.our-skills .testimonials {
  flex-basis: 50%;
  padding: 0 10px;
}

@media (max-width: 767px) {

  .our-skills .skills,
  .our-skills .testimonials {
    flex-basis: 100%;
    margin-bottom: 50px;
  }
}

.our-skills .skills h4,
.our-skills .testimonials h4 {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.our-skills .skills p,
.our-skills .testimonials p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 27px;
}

.our-skills .skills .content .progresses h6 {
  font-size: 20px;
  font-weight: 500;
  margin: 15px 0;
}

.our-skills .skills .content .progresses .progress {
  width: 100%;
  height: 30px;
  background-color: #f0f0f0;
}

.our-skills .skills .content .progresses .progress span {
  display: block;
  position: relative;
  width: 100%;
  height: 30px;
  background-color: var(--main-color);
}

.our-skills .skills .content .progresses .progress span::before {
  content: attr(data-progress);
  position: absolute;
  top: -35px;
  right: 0;
  background-color: #000;
  color: #fff;
  border-radius: 6px;
  padding: 4px;
  transform: translateX(50%);
}

.our-skills .skills .content .progresses .progress span::after {
  content: "";
  position: absolute;
  top: -10px;
  right: 0;
  border-color: #000 #00000000 #00000000 #0000;
  border-width: 10px;
  transform: translateX(50%);
  border-style: solid;
}

.our-skills .testimonials .content .card {
  display: flex;
  gap: 20px;
  padding: 25px;
}

.our-skills .testimonials .content .card .image img {
  max-width: 100%;
  border-radius: 50%;
}

.our-skills .testimonials .content .card .text {
  padding-bottom: 30px;
  border-bottom: 2px #cfcfcf solid;
  font-size: 15px;
  line-height: 1.5;
  position: relative;
}

.our-skills .testimonials .content .card .text span {
  position: absolute;
  bottom: 3px;
  right: 5px;
  font-size: 14px;
}

.our-skills .bullets {
  display: flex;
  gap: 10px;
  list-style: none;
  justify-content: center;
  margin: 20px 0;
}

.our-skills .bullets li {
  width: 15px;
  height: 15px;
  border: 2px #686868 solid;
  border-radius: 50%;
}

.our-skills .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

/* End Skills */
/* Start Quote */
.quote {
  background-image: url("../images/quote.jpg");
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}

.quote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 75%);
}

.quote .container {
  position: relative;
}

.quote q {
  font-size: 30px;
  margin-bottom: 20px;
  display: block;
}

/* End Quote */

/* Start Pricing */
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  margin-top: 50px;
}

.pricing .card {
  text-align: center;
  margin: 10px;
  box-shadow: 0 0 10px 0 #00000021;
}

.pricing .card .header {
  padding: 29px;
  border-top: 2px var(--main-color) solid;
  border-bottom: 2px var(--main-color) solid;
}

.pricing .card .header span {
  font-size: 20px;
  margin-bottom: 10px;
  display: block;
}

.pricing .card .header h6 {
  font-size: 30px;
  position: relative;
}

.pricing .card .header h6::before {
  content: "$";
  position: relative;
  font-size: 20px;
  top: -14px;
  left: -5px;
}

.pricing .card .header h6::after {
  content: "/MO";
  position: relative;
  font-size: 15px;
  bottom: -1px;
  right: -5px;
}

.pricing .card .body {
  padding: 20px 0;
}

.pricing .card .body ul {
  list-style: none;
}

.pricing .card .body ul li {
  border-bottom: 2px var(--main-color) solid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding-bottom: 8px;
  margin-bottom: 15px;
}

.pricing .card .foot {
  padding: 30px;
  border-top: 2px var(--main-color) solid;
  border-bottom: 2px var(--main-color) solid;
}

.pricing .card .foot .btn {
  text-decoration: none;
  border: 2px var(--main-color) solid;
  padding: 10px;
  font-size: 12px;
  color: #000;
  transition: var(--main-transition);
}

.pricing .card .foot .btn:hover {
  background-color: var(--main-color);
  color: #fff;
}

/* End Pricing */

/* Start Subscribe */
.subscribe {
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  position: relative;
  color: white;
}

.subscribe::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}

.subscribe .container {
  position: relative;
  display: flex;
  align-items: center;
}

@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
}

.subscribe form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}

.subscribe form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}

.subscribe form input[type="email"] {
  border: 1px solid white;
  border-right: none;
  background: none;
  padding: 20px 20px 20px 60px;
  caret-color: var(--main-color);
  color: white;
  width: calc(100% - 130px);
}

.subscribe form input[type="submit"] {
  width: 130px;
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-left: none;
  text-transform: uppercase;
  cursor: pointer;
}

.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus {
  outline: none;
}

.subscribe form ::-webkit-input-placeholder {
  color: white;
}

.subscribe form ::-moz-placeholder {
  color: white;
}

.subscribe form :-ms-input-placeholder {
  color: white;
}

.subscribe form ::-ms-input-placeholder {
  color: white;
}

.subscribe form ::placeholder {
  color: white;
}

.subscribe p {
  line-height: 2;
  margin-left: 50px;
}

@media (max-width: 991px) {
  .subscribe p {
    margin: 30px 0 0;
  }
}

/* End Subscribe */

/* Start Contact */
.contact .content {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .contact .content {
    flex-direction: column;
  }
}

.contact .content form {
  flex-basis: 70%;
}

.contact .content form .main-input {
  padding: 20px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
}

.contact .content form .main-input:focus {
  outline: none;
}

.contact .content form textarea.main-input {
  height: 200px;
}

.contact .content form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  border: none;
  display: flex;
  margin-left: auto;
  text-transform: uppercase;
  cursor: pointer;
}

.contact .content .info {
  flex-basis: 25%;
}

@media (max-width: 767px) {
  .contact .content .info {
    order: -1;
    text-align: center;
  }
}

.contact .content .info h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
}

.contact .content .info .phone {
  display: block;
  color: #777;
  margin-bottom: 10px;
}

.contact .content .info h4:nth-of-type(2) {
  margin-top: 90px;
}

@media (max-width: 767px) {
  .contact .content .info h4:nth-of-type(2) {
    margin-top: 30px;
  }
}

.contact .content .info address {
  color: #777;
  line-height: 2;
}

@media (max-width: 767px) {
  .contact .content .info address {
    margin-bottom: 40px;
  }
}

/* End Contact */
/* Start Footer */
.footer {
  padding: 50px 0;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
}

.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}

.footer .container {
  position: relative;
}

.footer img {
  margin-bottom: 20px;
}

.footer p:not(.copyright) {
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid white;
  font-size: 22px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px auto;
}

.footer .social-icons i {
  padding: 10px 15px;
}

.footer .copyright {
  margin-top: 60px;
}

.footer .copyright span {
  font-weight: bold;
  color: var(--main-color);
}

/* End Footer */